<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>StockEye</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    </head>
    <body>
        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
                <div class="social-icons">
                    <img id="facebook" src="images/fb.png">
    	            <img id="google" src="images/gp.png">
                    <img id="twitter" src="images/tw.png">
                </div>
                <form id="logForm" name="logForm" action="/login" class="input-group" method="post">
                    <input type="text" class="input-field" placeholder="Email Address" id="logMail" name="logMail" required>
                    <input type="text" class="input-field" placeholder="Password" id="logPass" name="logPass" required>
                    <button type="submit" class="submit-btn">Log In</button>
                </form>
                <form id="regForm" name="regForm" action="/registration" class="input-group" method="post">
                    <input type="text" class="input-field" placeholder="Username" id="regName" name="regName" required>
                    <input type="text" class="input-field" placeholder="Email Address" id="regMail" name="regMail" required>
                    <input type="text" class="input-field" placeholder="Password" if="regPass" name="regPass" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>

        <script>
            var x = document.getElementById("logForm");
            var y = document.getElementById("regForm");
            var z = document.getElementById("btn")

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }

            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0px";
            }
        </script>

        <!--Scripts for handling social media logins-->
        <script>
            const firebaseConfig = {
                apiKey: "AIzaSyCpGJG2UxBuDfLZpx-8wwcPxgYBQsrOyA0",
                authDomain: "stockeye-8f390.firebaseapp.com",
                projectId: "stockeye-8f390",
                storageBucket: "stockeye-8f390.appspot.com",
                messagingSenderId: "380155104187",
                appId: "1:380155104187:web:767421cbfa5967f343129e"
            };
            firebase.initializeApp(firebaseConfig);
        
            var google = document.getElementById('google');
            var twitter = document.getElementById('twitter');
            var facebook = document.getElementById('facebook');
                                
            const auth = firebase.auth();
            console.log(auth.currentUser);

            document.addEventListener('DOMContentLoaded', startup);
            function startup(){
                //makes sure the login page starts on the login form rather than the weird inbetween
                login();

                var user;
                var token;
                google.addEventListener('click', e => {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    firebase.auth().signInWithPopup(provider)
                        .then((result)=>{
                            token = result.credential.accessToken;
                            user = result.user;
                            console.log(auth.currentUser);
                        })
                });
                twitter.addEventListener('click', e => {
                    var provider = new firebase.auth.TwitterAuthProvider();
                    firebase.auth().signInWithPopup(provider)
                        .then((result)=>{
                            token = result.credential.accessToken;
                            user = result.user;
                            console.log(auth.currentUser);
                        })
                });
                facebook.addEventListener('click', e => {
                    var provider = new firebase.auth.FacebookAuthProvider();
                    firebase.auth().signInWithPopup(provider)
                        .then((result)=>{
                            token = result.credential.accessToken;
                            user = result.user;
                            console.log(auth.currentUser);
                        })
                })
            }
        </script>
    </body>
</html>
