<header>
    <nav>
        <div class="logo-div nav-div">
            <img class="logo" src="../images/StockEyeLogo2.png">
            <h2 class="name">Stock <span class="eye">Eye</span></h2>
        </div>
        <div class="pages nav-div">
            <ul class="page-list">
                <li>
                    <form id="to_home" action="/" method="get"><a href="javascript:{}"
                            onclick="document.getElementById('to_home').submit();">Home</a></form>
                </li>
                <li>
                    <form id="to_help" action="/help" method="get"><a href="javascript:{}"
                            onclick="document.getElementById('to_help').submit();">Help</a></form>
                </li>
                <%if(userType !='Broker' ){%>
                    <li>
                        <form id="to_brokers" action="/brokers" method="get"><a href="javascript:{}"
                                onclick="document.getElementById('to_brokers').submit();">Brokers</a></form>
                    </li>
                    <%}%>
                        <%if(currentuser){%>
                            <li>
                                <form id="to_account" action="./account/<%=currentuser.uid%>" method="get"><a
                                        href="javascript:{}" onclick="document.getElementById('to_account').submit();">Your
                                        profile</a></form>
                            </li>
                            <%}%>
            </ul>
        </div>
        <div class="navbar-right nav-div">
            <%if(!currentuser){%>
                <form action="./login" method="get"><button class="logReg">Login or Register</button></form>
                <%}else{%>
                    <form action="./signOut" method="get"><button class="logReg">Sign Out</button></form>
                    <%}%>
        </div>
    </nav>
</header>